:root {
    --header-font: 'Playfair Display', serif;
    --main-font: 'Manrope', sans-serif;
    --navy-blue: #0E204E;
    --main-font-size: 15px;
}


/* General Css */
img {
    max-width: 100%;
}

/* FONTS */
h1, h2 {
    font-family: var(--header-font);
}

button {
    font-family: var(--main-font);
    font-size: var(--main-font-size);
}

h1 {
    color: var(--navy-blue);
    font-size: 1.6rem;
    /* font size 1.6rem is 24px */
}

h2 {
    /* font size 2.6rem is 40px */
    font-size: 2.6rem;
    color: var(--navy-blue);
}

p {
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    line-height: 25px;
}


/* Button */
button {
    background-color: var(--navy-blue);
    color: white;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
}
button:hover {
        background-color: white;
        color: black;
        border: 1px solid; 
    }


    

/* Header */
header {
    margin: 0 auto;
    width: 95%;
    display: flex;
	justify-content: space-between;
    align-items: center;
    
}

/* Nav */
nav ul {
    display: flex;
    justify-content: space-between;
} 

nav ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin: 10px;
}


/* background blue and text white for the following: */
.section1-text,
.section1-h2,
.section2-article,
.section3-h2,
footer {
background-color: var(--navy-blue);
color: white;
}

/* padding for text */
.text-padding,
.section1-h2, 
.section3-h2,
.section3-p {
    padding: 35px;
}

/* wrapper for section 1 and 2 */
.top-section-wrapper {
    width: 100%;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

/* wrapper within section 2 and 3 */
.section-content-wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Section1 */

.section1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.section1-h2 {
    padding-bottom: 1px;
}

/* to reduce blue space/margin */
.section1-text > * {
    margin: 10px;
}


/* Section2 */

.section2-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section2-article > * {
    flex-basis: 50%;
    flex-grow: 1;
}

/* centering image within its container with flexbox */
.section2-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Padding left 0px for section 2 and 3's h2 */
.section-content-wrapper h2 {
    padding-left: 0px;
}


/* Section3 */

.section3 {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--navy-blue);
}

.section3-article {
    background-color: white;
    color: var(--navy-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3-article > * {
    flex-basis: 50%;
    flex-grow: 1;
}

/* centering the image with flexbox */
.section3-image {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Section4 */

.section4 {
    width: 85%;
    margin: 60px auto;
    text-align: center;
} 


/* image and text container */
.section4-article { 
    display : flex;
    flex-direction: row;
}

.desktop-icons {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.desktop-icons > * {
    flex-basis: 33%;
    max-width: 33%;
}



/* Section5 */
.section5 {
    width: 95%;
    margin: 60px auto;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.gallery-item {
    flex-basis: 33%;
    padding: 10px;
}



/* Section 6*/
.section6 {
    width: 70%;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section6 > * {
    width: 50%;
}

.section6 li {
    list-style-type: none;
    padding: 10px;
    
}

.li-color {
    background: rgba(14, 63, 51, 0.2);    
}


.section6-h2 {
    padding-left: 40px;
}


/* Section7 */
.section7 {
    width: 70%;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section7 > * {
    width: 50%;
}

.section7-text {
    padding-right: 60px;
}


/* Section8 */
.section8 {
    text-align: center;
    margin: 60px auto;
}

.section8-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.section8-form > * {
    margin: 10px;
    padding: 5px;
    width:50%;
}

.form-message {
    padding-bottom: 100px;
}

.form-button {
    width: fit-content;
    background-color: var(--navy-blue);
    color: white;
    padding: 6px 15px;
}

/* Footer */
footer {
    width: 100%;    
} 


.footer-wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-wrapper > * {
    margin: 20px;
}

.footer-button {
    background-color: white;
    color: var(--navy-blue);
}

h3 {
    font-size: 1.6rem;
    /* font size 1.6rem is 24px */
}




/* Hide mobile content in desktop view */
.mobile-image,
.mobile-icon,
.mobile-button,
.mobile-content,
.mobile-grid,
.mobile-menu-icon {
    display: none;
}


/* Media Queries */

/* Styles for phones, 600px and down */
@media(max-width:600px){

/* Desktop images to hide for sections 1, 2, 3, 4*/
    .desktop-image {
        display: none;
    }

    /* displaying mobile content for sections 1, 2, 3, 4 */
    .mobile-image {
        display: block;
    }

    /* text align and font sizes */
    h2 {
        font-size: 2rem;
        text-align: center;
    }
    p {
        font-size: 1.2rem;
        text-align: center;
        line-height: 35px;
    }


    /* Header */
    /* Hiding nav and buttons */
    header button,
    nav {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }




    /* section1 */   
   
    /* Width and margin for sections 1 and 2 */
    .top-section-wrapper {
        width: 100%;
        margin: 30px auto;

    } 
    .section1-text {
        color: white;
        background: none; 
        max-width: 350px;
        position: absolute;
        z-index: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section1-h2 {
        background: none;
    }
    
    .section1-image img {
        min-width: 350px;
    }

    .mobile-button {
        display: block;
    }


    /* wrapper for section 1 and 2 */
    .section-content-wrapper { 
        flex-direction: column;
        width: 100%;
    }

    

    /* section2 */
    .section2-article {
        flex-direction: column;
    }

    /* .section2 */
    .section2-p {
        max-width: 350px;
        background: none;
        position: absolute;      
    }

    .section2-image img {
        min-width: 350px;
    }

    /* removing desktop padding and adding mobile padding for section 2 and 3's h2 */
    .section-content-wrapper div h2 {
        padding: 0px 35px;
    }


    
    /* section3 */
    .section3 {
        background-color: white;
        /* removing top and bottom padding for mobile */
        padding: 0px;
        margin: 40px auto;
    }
    
    .section3-article {
        flex-direction: column;
    }

    .section3-h2 {
        background: none;
        color: var(--navy-blue);
    }

    .section3-p {
        padding: 0px 30px;
    }



    /* section4 */
    .section4 {
        width: 100%;
    }
    .section4-article { 
        width: 100%;
        display : flex;
        flex-direction: column;
        align-items: center;
    }

    /* section4 icons */
    /* hiding desktop icons */
    .desktop-icons-item {
        display: none;
    }

    /* displaying mobile icons */
    .mobile-icon {
        display: block;
    }

    .desktop-icons {
        background-color: var(--navy-blue);
        color: white;
        width: 100%;
    }
    .desktop-icons > * {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Erasing dekstop only words in h2 for section 4 and 5*/
    .desktop-content {
        display: none;
    }
    /* display mobile only words in h2 sections 4 and 5 */
    .mobile-content {
        display: block;
    }



    /* section5 Gallery*/
    /* hiding desktop gallery */
    .gallery {
        display: none;
    }

    /* displaying mobile gallery */
    .mobile-grid {
        display: block;
    }

    .section5 p {
        padding: 0px 20px;
    }

    .mobile-grid {
        margin: 0 auto;
        width: max-content;
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr;
    }

    /* making bigger pictures fit in gallery  */
    .grid-wide-2 {
        grid-column: span 2;

    }
    .grid-tall-2 {
        grid-row: span 2;
    }



    /*Hiding Section6 */
    .section6{
        display: none;
    }



    /* Section7 */
    .section7 {
        width: 100%;
        background-color: var(--navy-blue);
        color: white;
        
    }
    .section7 h2 {
        color: white;
    }
    .section7 button{
        color: var(--navy-blue);
        background-color: white;
        
    }

    /* getting rid of image div */
    .section7-image {
        display: none;
    }

    /* aligning section7 content to center */
    .section7-text {
        width: 90%;
        padding: 20px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section7-text button {
        color: var(--navy-blue);
        background-color: white;
        margin: 20px;
    }


    /* Section8 */
    .section8 {
        width: 90%;
    }


    /* Footer */
    footer div p,
    .footer-part-2 {
        display: none;
    }
    .footer-wrapper div h3 {
        font-size: 1.4rem;
    }

}

