:root {
    --header-font: 'Playfair Display', serif;
    --main-font: 'Manrope', sans-serif;
}


/* General Css */
img {
    max-width: 100%;
}

/* FONTS */
h1, h2 {
    font-family: var(--header-font);
}

.button {
    font-family: var(--main-font);
    font-size: 15px;
}

h1 {
    color: #0E204E;
    font-size: 25px;
}

h2 {
    font-size: 40px;
    color: #0E204E;
}

p {
    font-family: 'Manrope', sans-serif;
    font-size: 15x;
    line-height: 25px;
}


/* Button */
button {
    background-color:#0E204E;
    color: white;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
}
button:hover {
        background-color: white;
        color: black;
        border: 1px solid; 
    }


/* Header */
header {
    display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Nav */
nav ul {
    display: flex;
} 
nav ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px;
}


/* background blue and text white for the following: */
.section1-text,
.section1-h2,
.section2-article,
.section3-h2,
footer {
background-color: #0E204E;
color: white;
}

/* padding for text */
.text-padding,
.section1-h2, 
.section3-h2,
.section3-p {
    padding: 35px;
}

/* for section 1 and 2 */
.top-section-wrapper {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

/* for section 2 and 3 */
.section-content-wrapper {
    width: 85%;
    /* max-width: 1440px; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Section1 */
.section1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section1-h2 {
    padding-bottom: 1px;
}

.section1-text > * {
    margin: 10px;
}


/* Section2 */

.section2-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* how do I set height to fit image in section2-article */
}
.section2-article > * {
    flex-basis: 50%;
    flex-grow: 1;
}

/* centering image with flexbox within its container */
.section2-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Padding 0px for section 2 and 3's h2 */
.section-content-wrapper h2 {
    padding-left: 0px;
}

/* Section3 */
.section3 {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #0E204E;
}

.section3-article {
    background-color: white;
    color: #0E204E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3-article > * {
    flex-basis: 50%;
    flex-grow: 1;
}

/* centering the image with flexbox */
.section3-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section4 */
.section4 {
    width: 85%;
    margin: auto;
    text-align: center;
} 

.section4-article { 
    display : flex;
    flex-direction: row;
    justify-content: space-around;
}

.desktop-icons {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.desktop-icons > * {
    flex-basis: 33%;
    max-width: 33%;
}



/* Section5 */
.section5 {
    width: 99%;
    margin: 50px auto;
    text-align: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.gallery-item {
flex-basis: 33%;
padding: 10px;

}

/* Section 6*/
.section6 {
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section6 > * {
    width: 50%;
}

.section6 li {
    list-style: none;
    padding: 10px;
    
}

.licolor {
    background: rgba(14, 63, 51, 0.2);    
}


.section6-h2 {
    padding-left: 40px;
}


/* Section7 */
.section7 {
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section7 > * {
    width: 50%;
}

.section7-text {
    padding-right: 60px;
}


/* Section8 */
.section8 {
    text-align: center;
}

.section8-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.section8-form > * {
    margin: 10px;
    padding: 5px;
    width:300px;
}

.form-message {
    padding-bottom: 70px;
}

.section8-button {
    width: fit-content;
    background-color:#0E204E;
    color: white;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Footer */
footer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
} 

.footer-button {
    background-color: white;
    color: #0E204E;
}

footer > * {
    width: 30%;
    padding: 40px;
    
}

h3, h4 {
    font-size: 25px;
}


/* Hide mobile content in desktop view */
.mobile-image,
.mobile-icon {
    display: none;
}


/* Media Queries */

/* Styles for phones, 600px and down */
@media(max-width:600px){

/* images, icons, section, other content to hide */
    .desktop-image,
    .desktop-icons-item,
    .section6,
    header button,
    .gallery,
    a {
        display: none;
    }

    /* displaying mobile images */
    .mobile-image,
    .mobile-icon {
        display: block;
    }

    /* text align and font sizes */
    h2 {
        font-size: 2rem;
        text-align: center;
    }
    p {
        text-align: center;
        line-height: 25px;
    }


    /* section1 */   
   
    .top-section-wrapper {
        width: 100%;
        border: 1px solid green;

    } 
    .section1-text {
        width: 280px;
        color: white;
        background: none;
        position: absolute;
        left: 100px;
        z-index: 1;
    }
    .section1-h2 {
        background: none;
    }

    /* section2 */
    .section-content-wrapper { 
        flex-direction: column;
        width: 100%;
    }
    .section2-article {
        flex-direction: column;
    }
    .section2-p {
        width: 280px;
        background: none;
        position: absolute;
        right: 100px;
        /* is there a way to center text or do I have manually adjust */
        /* or I can completely hide div and add in a new div for mobile */
    }
    
    /* section3 */
    .section3 {
        background-color: white;
    }
    .section3-h2 {
        background: none;
        color: #0E204E;
    }

    .section3-article {
        flex-direction: column;
    }

    /* section4 */
    .section4 {
        width: 100%;
    }
    .section4-article { 
        width: 100%;
        display : flex;
        flex-direction: column;
        align-items: center;
    }
    
    .desktop-icons {
        background-color: #0E204E;
        color: white;
        width: 100%;
    }
    .desktop-icons > * {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    /* Section7 */
    .section7 {
        width: 100%;
        background-color: #0E204E;
        color: white;
        
    }
    .section7 h2 {
        color: white;
    }
    .section7 .button{
        color: #0E204E;
        background-color: white;
        
    }

    /* Footer */
    footer div p,
    footer div h4,
    footer div form {
        display: none;
    }
    footer div h3 {
        position: relative;
        left: 120px;
}

}

/* hide all desktop pictures */
/* .desktop-image {
    display: none;
} */
/* hide section5 */

/* Apply to articles so text is on top of image
example
article {
    position: absolute;
    top: 90px; 
    left: 25px;
    <p> will be z-index: 1
} */

/* Apply to all sections 
change to flex direction:column */


/* header */
/* need to hide nav and button */
/* add in hamburger menu */


/* Section1 */
/* add mobile pic as background*/
/* add button to section1 */

/* Section2 */
/* get rid of desktop pic and replace with mobile pic as background */

/* Section3 */
/* change background colour to white/ remove blue background colour */

/* Section4 */
/* change background to blue for icons */

/* Section6 */
/* add mobile pics */
/* change h2 to "Available Homes" */

/* Section7 */
/* change background color to blue */
/* button will be white and hover blue */

/* Section8 */
/* change p  content*/


/* Footer */
/* get rid of h3, p, form */