/* General Css */
img {
    max-width: 600px;
}

/* FONTS */
h1, h2 {
    font-family: 'Playfair Display', serif;
}

p, button {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}

h1 {
    color: #0E204E;
    font-size: 32px;
}

h2 {
    font-size: 60px;
    color: #0E204E;
}


/* Button */
button {
    background-color:#0E204E;
    color: white;
}
button:hover {
        background-color: white;
        color: black;
        border: 1px solid; 
    }


/* Header */
header {
    display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Nav */
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}

/* Flex properties */
.section1,
.section2,
.section3,
.section6,
.section7,
footer {
    display: flex;
    width: 90%;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: auto;

} 

/* background blue and text white for the following: */
.section1text,
.section2p,
.section3,
.section3-h2,
footer {
background-color: #0E204E;
color: white;
}

/* padding for text */
.textpadding,
.section1text,
.section2p,
.section3-h2,
.section3-p {
    padding: 25px;
}


/* Section1 */


/* Section2 */
.section2 > * {
    display: flex;
    flex-basis: 33%;

}


/* Section3 */
.section3 {
    padding: 100px;
}

.section3-p {
    background-color: white;
    color: #0E204E;
    min-width: 200px;
}
.section3article {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

/* Section4 */
.section4 {
    width: 50%;
    margin: auto;
} 

.section4-article { 
    display : flex;
    flex-direction: row;
}
.desktop-icons {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    align-items: center;
}

.icons-item {
    width: 33%;
    
}



/* Section5 */
.section5 {
    width: 50%;
    margin: auto;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 1800px;
}
.gallery-item {
width: 33%;
padding: 10px;

}

/* Section6 */

/* Section7 */

/* Section8 */

/* Footer */


/* Media Queries */

/* Styles for phones, 600px and down */
/* @media(max-width:600px){} */

/* get rid of all desktop pictures */
/* .desktop-image {
    display: none;
} */
/* get rid of section5 */

/* Apply to articles so text is on top of image
article {
    position: absolute;
    top: 90px; 
    left: 25px;
    <p> will be z-index: 1
} */

/* Apply to all sections 
change to flex direction:column */


/* header */
/* need to get rid of nav and button */
/* add in hamburger menu */


/* Section1 */
/* add mobile pic as background*/
/* and somehow move button to section1? */

/* Section2 */
/* get rid of desktop pic and replace with mobile pic as background */

/* Section3 */
/* change background colour to white/ remove blue background colour */

/* Section4 */
/* change background to blue for icons */

/* Section6 */
/* add mobile pics */
/* change h2 to "Available Homes" */

/* Section7 */
/* change background color to blue */
/* button will be white and hover blue */

/* Section8 */
/* change content in p */


/* Footer */
/* get rid of h3, p, form */